Import the Pandas library to provide the data frame to work in the csv file as 
it will read the file as a dataframe to retrieve the records

In [1]:
import pandas as pd
import numpy as np

Reading the csv file

In [2]:
df = pd.read_csv("sales.csv")

Information about the dataframe, has got 12 entries and the column datatypes are mentioned

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         12 non-null     int64
 1   month        12 non-null     object
 2   sales        12 non-null     int64
 3   expenditure  12 non-null     int64
dtypes: int64(3), object(1)
memory usage: 512.0+ bytes

check the dataframe first 5 entries

In [4]:
df.head(5)

   year month  sales  expenditure
0  2018   jan   6226         3808
1  2018   feb   1521         3373
2  2018   mar   1842         3965
3  2018   apr   2051         1098
4  2018   may   1728         3046

In [ ]:
Checks for how many unique years are mentioned here

In [5]:
df['year'].unique()

array([2018])

Finding the record when the max sales as taken place

In [6]:
df['sales'].max()

7479

In [11]:
df.loc[df['sales'].idxmax()]

year           2018
month           jul
sales          7479
expenditure    2084
Name: 6, dtype: object

Find the record for the macimum expenditure

In [12]:
df.loc[df['expenditure'].idxmax()]

year           2018
month           mar
sales          1842
expenditure    3965
Name: 2, dtype: object